[submodule "book-assets/web-development-with-node-and-express-2e"]
	path = book-assets/web-development-with-node-and-express-2e
	url = https://github.com/EthanRBrown/web-development-with-node-and-express-2e
[submodule "book-assets/Eloquent-JavaScript"]
	path = book-assets/Eloquent-JavaScript
	url = https://github.com/marijnh/Eloquent-JavaScript.git
